@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-gold: #d4af37;
  --color-gold-light: #f3cf55;
  --color-gold-dark: #aa8c2c;

  --color-navy: #0f172a;
  --color-navy-light: #1e293b;
  --color-navy-dark: #020617;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-cinzel);
}

:root {
  --background: #0f172a;
  /* Navy background by default for premium feel */
  --foreground: #f8fafc;
  /* Light text */

  --font-inter: 'Inter', sans-serif;
  --font-cinzel: 'Cinzel', serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}